.btn{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.btn{
    position: relative;
    display: inline-block;
    font-size: 1em;
    letter-spacing: .1em;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid black;
    padding: 10px 35px;
    z-index: 1;
    overflow: hidden;
    transition: color 1s, box-shadow 1s;
}

.btn:hover {
    transition-delay: 0s, 1s;
    color: black;
    box-shadow:
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #fff,
    0 0 80px #fff,
    0 0 160px #fff;
}

.btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: -30%;
    width: 0;
    height: 100%;
    background: #fff;
    transform: skewX(35deg);
    z-index: -1;
    transition: 1s;
}

.btn:hover:before{
    width: 100%;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
    border-radius: 1rem;
    margin-top: 5px;
    overflow: hidden;
}

.login-box{
    position: relative;
    width: 400px;
    height: 450px;
    background: #191919;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
    transition: .5s ease;
}

.input-check:checked~h2 {
    color: #fff;
    text-shadow: 
        0 0 15px #fff,
        0 0 30px #fff;
}
.input-box{
    position: relative;
    width: 310px;
    margin: 30px 0;
}

.input-box .input-line{
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2.5px;
    background: #fff;
    transition: .5s ease;
}

.input-check:checked~.input-box .input-line{
    background: #fff;
    box-shadow: 0 0 10px #fff;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    pointer-events: none;
    transition: .5s ease;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-check:checked~.input-box label {
    color: #fff;
    text-shadow: 0 0 10px #fff;
}

.input-box input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    padding: 0 35px 0 5px;
    transition: .5s ease;
}

.input-check:checked~.input-box input {
    color: #fff;
    text-shadow: 0 0 5px #fff;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    line-height: 57px;
    transition: .5s ease;
}

.input-check:checked~.input-box .icon{
    color: #fff;
    filter: drop-shadow(0 0 5px #fff);
}

.remember-forgot{
    color: #fff;
    font-size: .9em;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
    transition: .5s ease;
}

.input-check:checked~.remember-forgot {
    color: #fff;
    text-shadow: 0 0 10px #fff;
}

.remember-forgot label input{
    accent-color: #fff;
    margin-right: 3px;
    transition: .5s ease;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
    transition: color .5s ease;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.input-check:checked~.remember-forgot a {
    color: #fff;
}

.input-check:checked~.remember-forgot label input {
    accent-color: #fff;
}

.register-link button {
    width: 100%;
    height: 40px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #191919;
    font-weight: 500;
    transition: .5s ease;
}

.input-check:checked~button{
    background: #fff;
    box-shadow: 0 0 15px #fff, 0 0 15px #fff;
}

.register-link {
    color: #fff;
    font-size: .9em;
    text-align: center;
    margin: 25px 0 10px;
    transition: .5s ease;
}

.input-check:checked~.register-link {
    color: #fff;
    text-shadow: 0 0 10px #fff;
}

.register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    transition: color .5s ease;
}

.register-link p a:hover{
    text-decoration: underline;
}

.input-check:checked~.register-link p a {
    color: #fff;
}

.login-light {
    position: absolute;
    top: -123px;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    height: 10px;
    background: #fff;
    border-radius: 20px;
}

.login-light::before {
    content: '';
    position: absolute;
    top: -900px;
    left: 0;
    width: 100%;
    height: 950px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, .3) -50%, rgba(255, 255, 255, 0) 90%);
    clip-path: polygon(20% 0, 80% 0, 100% 100%, 0 100%);
    pointer-events: none;
    transition: .5s ease;
}

.input-check:checked~.login-light::before {
    top: 0;
}

.toggle {
    position: absolute;
    top: 20px;
    right: -70px;
    width: 60px;
    height: 120px;
    background: #191919;
    border-radius: 10px;
}

.toggle::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 80%;
    background: #000;
}

.toggle::after {
    content: '';
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 45px;
    height: 45px;
    background: #333;
    border: 2px solid #191919;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px rgb(0, 0, 0, .5);
    transition: .5s ease;
}

.input-check:checked~.toggle::after{
    top: 65px;
}

.input-check {
    position: absolute;
    right: -70px;
    z-index: 1;
    opacity: 0;
}

.toggle .text {
    position: absolute;
    top: 17px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 1em;
    z-index: 1;
    text-transform: uppercase;
    pointer-events: none;
    transition: .5s ease;
}

.toggle .text.off{
    opacity: 1;
}

.input-check:checked~.toggle .text.off {
    top: 76px;
    opacity: 0;
}

.toggle .text.on{
    opacity: 0;
}

.input-check:checked~.toggle .text.on {
    top: 76px;
    opacity: 1;
    color: #fff;
    text-shadow: 
        0 0 15px #fff,
        0 0 30px #fff,
        0 0 45px #fff,
        0 0 60px #fff;
}